/*html{
	height: 100%;
	background: url(../images/bg.jpg)no-repeat center center;
	background-size: cover;
} */
body{
	margin:0; 
	font-family: 'Vollkorn', serif;
/*	height: 2000px;*/
}

#bg-image img{
	width: 100%;
	opacity: 0.2;
	position: fixed;
	z-index: -1;
	/*bottom: 0;
	top: 0;*/
	height: 100%;
}

nav ul{
	margin-top: 0;
	background-color:#333;
	margin-bottom:0;
}

nav li{
	display: inline-block;
	padding: 20px 0;
	margin-right: 18px;
}

nav li a{
	text-decoration: none;
	color: #62bcfa;
}

nav li a:hover{
	color:#ED1C24;
}
#active-site{
	text-decoration: underline;
}
nav{
	position:fixed;
	width: 100%;
	z-index:5;
}
nav ul:hover{
	background-color:#191919;
}

#social{
	width: 17%;
	background-color:transparent;
	font-size: 18px;
	color:#62bcfa;
	position: absolute;
	right:2px;
	top:0px;	
}
#social li {
	margin-right: 20px;
}
#social li a:hover{
	color: #ED1C24;
}

#logo-img{
	width: 40px;
	position: absolute;
}
#logo h1{
	/*padding-top: 65px;*/
	margin-top: 0;
	margin-bottom: 0;
	font-size: 30px;
	text-transform: uppercase;
}
#logo {
	text-align: center;
	margin:0 auto;
	width: 200px;
	height: 100px;
	/*border:3px solid #333;
	background:red;*/
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
	box-sizing: border-box;
	/*padding-top: 15px;*/
	/*background-color: yellow;
*/}
#contact-mail{
	/*background-color: green;*/
	width:16%;
	float: right;
	position: absolute;
	top:62px;
	right:15px;
}
#contact-mail input,i{
	margin-bottom:8px;
}
#logo-box{
	padding-top: 65px;
	/*background-color: red;*/
	position: relative;
}
#logo span{
	display: block;
	font-size: 40px;
}

#main-image img{
	display: block;
	max-width: 100%;
	border-radius: 5px;
	
}
#main-image{
	width:85%;
	/*height:600px;*/
	/*background-color: blue;*/
	margin-top:18px;
	margin: 0 auto;
	position: relative;
}
#main-image h1{
	/*text-transform: uppercase;*/
	font-size:40px;
	color:#fff;
	position: absolute;
	left:35px;
	top:140px;
	/*padding:28px 12px;
	background-color:#333;
	opacity: 0.4;*/
}
#main-image span{
	font-size: 15px;
	display: block;
}
#image-box{
	position: relative;

}
#main-image p{
	/*font-weight:bold;*/
	font-size: 18px;
	margin-top: 50px;

	}

#book-now{
	width: 180px;
	font-size: 22px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
	text-transform: uppercase;
	border-radius: 4px;
	/*font-weight: bold;*/
	padding:7px 12px;
	background-color:#ED1C24;
	position: absolute;
	right: 70px;
	top: 200px;
	color: white;
	border:1px solid red;
}
#left-arrow{
	width: 50px;
	position: absolute;
	left:18px;
	top: 25%;
}
#right-arrow{
	width: 50px;
	position: absolute;
	right: 18px;
	top: 25%;
}

#main-box{
	/*background-color: pink;*/
	width: 85%;
	margin:80px auto 40px auto;
	height: 400px;

}
#left-1{
	float: left;
	/*background-color: yellow;*/
	width:45%;
}
#left-2{
	float: right;
	/*background-color: brown;*/
	width: 45%;
}
#right-1{
	/*background-color: orange;*/
	width: 45%;
	float: left;
}
#right-2{
	/*background-color: purple;*/
	width: 45%;
	float: right;
}

#left-box img{
	max-width:100%; 
}
#right-box img{
	max-width: 100%;
}
#left-box{
	width:47.3%;
	/*background-color: red;*/
	float: left;
	text-align: center;
}
#right-box{
	width:47.3%;
	/*background-color: green;*/
	float: right;
	text-align: center;

}
/*section>div{
	width: 85%;
	height: 600px;
	background-color: blue;
	margin:0 auto;
}*/
.images{
	border-radius: 5px;
	height: 165px;
}
.images-heading{
	text-decoration: none;
	color:brown;
}
.find-out{
	-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	color:#333;
	background-color:#FA2;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:none;
	font-family:'Helvetica Neue',Arial,sans-serif;
	font-size:16px;
	font-weight:700;
	height:36px;
	padding:4px 16px;
	text-shadow:#FE6 0 1px 0
}


#video video{
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
#video-box{
	/*margin-top: 40px;*/
	/*background-color: red;*/
}
#video{
	width: 85%;
	/*background-color: green;*/
	margin:0 auto;
}






/* Footer style starts here ............................................................*/

footer{
	height: 300px;
	background-color: #62bcfa;
}
#footer-nav{
	/*background-color:orange;*/
	width:32%;
}
#footer-nav a{
	text-decoration: none;
	color:#191919;
}
#footer-nav a:hover{
	color: #ED1C24;
}
#footer-nav ul {
	padding-left: 20px;
}
#footer-nav li{
	display: inline-block;
	margin-right: 25px;
	padding-top: 8px;
}
#search-box{
	margin-top:0px;
	margin-left:40px;
	/*background-color: yellow;*/
	width:40%;
	float: left;

}
#search-box div{
	margin-bottom:8px;
}
#search-box div input,textarea{
	width:200px;
}
#footer-submit{
	/*background-color: red;*/
	width: 80px;
	padding-top: 7px;
	padding-bottom:7px;
}
#search-box input{
	height:20px;

}
#search{
	width:200px;
}
#search-box div h1{
	font-size:20px;
	margin-top: 0;
}
#left-address {
	width:40%;
	/*background-color: pink;*/
	float: right;
	text-align: left;
}
#left-address h1{
	font-size: 20px;
	margin-top: 5px;
}
#left-address img{
	width:250px;
	margin-bottom:70px;
}
#left-address span{
	/*display: block;*/
	margin-bottom: 20px;
}
#contact h1{
	margin-top: 0;
	font-size: 22px;
	color: white;
	margin-bottom: 10px;
}
#contact h2{
	font-size: 18px;
	text-decoration: underline;
	margin-top:5px;
}
#bottom-left{
	height: 250px;
	/*background-color: red;*/
	width:55%;
	float: left;
	/*background-color: red;*/
}
#bottom-right{
	height: 280px;
	/*background-color: yellow;*/
	width:40%;
	float: right;
	margin-top: -25px;
/*	background-color: green;*/
	padding-left:10px;
	box-sizing: border-box;
}
#contact{
	width: 50%;
	float: left;

}
#contact a{
	display: inline-block;
	/*text-decoration: none;*/
	color: white;
	font-size: 18px;
}
#map h2{
	text-decoration: underline;
	font-size: 18px;
	margin-top: 6px;
}
#contact i{
	margin-bottom:10px;
	/*margin-left: 10px;*/
}
#contact span{
	display: block;
	margin-bottom: 20px;
}

#map{
	float: right;
	margin-right:20px;
	margin-top: 10px;
	/*background-color: grey;*/
	width:40%;
}
address{
	font-size:16px;
	font-style: normal;
}

}
.footerspan{
	font-size:10px;
	background-color: red;
	color: blue;

}


/*Footer Stylesheet ends here ................................................................................................*/


/* About us Stylesheet Starts from here ........................................................................................*/
.main-box{
	width: 85%;
	/*background-color: red;*/
	/*height: 1200px;*/
	margin: 0 auto;
	margin-top: 50px;
}
.main-box:after{
	content: '';
	display: block;
	clear: both;
}

#first-box,#second-box{
	width: 50%;
	/*background-color:grey;*/
	text-align: center;
	margin-top: 50px;
}


#first-box a ,#second-box a{
	text-decoration: none;
	z-index: +10;
	color: #000;
}
#first-box img, #second-box img{
	max-width: 100%;
	width: 400px;
	 
}

#first-box{
	float: left;
}
#second-box{
	float: right;
}

#owners{
	/*background-color: red;*/
	box-sizing: border-box;
}
#owners h1{
	margin-bottom: 40px;
}
#owners p{
	width: 550px;
}
#owners:after{
	content: '';
	display: block;
	clear: both;
}
#owners img{
	max-width: 100%;
	width: 450px;
	float: right;
}
#main-box p:{
	padding:10px;
}

/*About Us stylesheet Ends here..................................................................................................*/


/*Flights css style sheet starts from here ......................................................................................*/

#flights-main-box{
	width: 85%;
	/*background-color: red;*/
	/*height: 400px;*/
	margin:0 auto;
	margin-bottom: 10px;
	box-sizing: border-box;
	padding: 5px 20px;
}
#flights-image:after{
	content:'';
	display: block;
	clear: both;
}

#flights-image img{
	float: left;
	margin-right:20px;
	width: 300px;
}
.arrows{
	width:40px;
}
#flights-image{
	/*background-color: green;*/
}
#icon-box{
	width:85%;
	/*background-color: yellow;*/
	height: 120px;
	margin: 0 auto;	
}
#icon-box span{
	display: block;
	margin-left:45%;
}
#icon-box span h2{
	margin-top: 0;
}
#icon-images{ 
	/*background-color: pink;*/
	margin-left:40%;
	width: 400px;
}

#leftArrow{
	margin-right:40%;
}

#flights-right-box{
	height:200px;
	/*background-color: red;*/
}

#flights-right-box1{
	/*background-color: green;*/
	height:170px;
	width: 35%;
	float: left;
	box-sizing: border-box;
}

#flights-right-box1 p{
	margin-top:0;
	text-align: center;
}

#flights-right-box2{
	/*background-color: pink;*/
	height:180px;
	width: 30%;
	float: right;
	margin-left:20px;
}
#flights-right-box2 h2{
	margin-top: 0;
	margin-bottom: 0;
}
#flights-right-box2 p{
	margin-top:5px;
}
#flights-right-box2 ul{
	padding-left:14px;
}
.aircraft-main-box{
	/*height: 700px;*/
	background-color:blue;

}
.aircraft-box{
	width: 85%;
	/*height: 500px;*/
	/*background-color: green;*/
	margin:0 auto;
	box-sizing: border-box;
	margin-bottom:60px;
}

.aircraft-box p{
	padding-left: 20px;
	margin-bottom:60px;
}

.aircraft-box img{
	width: 280px;
	float: left;
	margin-right: 40px;
	border-radius:5px;
}
.aircraft-box:after{
	content: '';
	display: block;
	clear: both;
}
.aircraft-para{
	/*padding-right: 20px;*/
}
#helicopter-box{
	position: relative;
}
#stuntPlane-box img{
	float: right;
	width: 280px;
	margin-right:0px; 
}
#stunt-plane-para{
	padding-left: 0;
}
.pure-button{
            
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgb(202, 60, 60);
   	background: rgb(202, 60, 60);
    position: relative;
    border:none;
	top: 5px;
	font-size: 18px;
	border-bottom: 5px solid  #9a3834;
	padding: 8px 10px;
	
}
#helicopter-button{
	position: absolute;
	right:10px;
	top: 220px;
}
#glider-box{
	position: relative;
}
#glider-button{
	position: absolute;
	right:10px;
	top: 150px;
}

.aircraft-line{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/*Flight style sheet Ends here..................................................................................................*/


/*Contact StyleSheet Starts here ...............................................................................................*/

#bg-box{
	margin-top: 50px;
	background:rgba(21,21,21,0.3);
	height: 700px;
	box-sizing: border-box;
	padding:10px;
}

#contact-box{
	width: 85%;
	/*background-color: green;*/
	height: 700px;
	margin:30px auto;

}

#contact-left{
	width: 75%;
	height: 700px;
	/*background-color: yellow;*/
	float: left;
}
#contact-left h1{
	margin-top:0;
}
#contact-left form span{
	display: block;
}
#contact-right{
	width: 20%;
	height:680px;
	background-image: url(../images/contact-bg.png);
	/*background-color: pink;*/
	float: right;
}

#contact-right li{
	list-style: none;
	margin-bottom:50px;
	color: #e8554e;
}
#contact-right span{
	display: block;
	color: black;
}

#contact-left form>ul>li{
	display: inline-block;
}
#name{
	width: 260px;
	height:35px;
	/*background-color: #e1e1db;*/
	border:0;
	padding: 12px 14px;
	box-sizing: border-box;
	border-radius: 3px;
	margin-right: 50px;
}
#email{
	width: 260px;
	height:35px;
	/*background-color: #e1e1db;*/
	border:0;
	padding: 12px 14px;
	box-sizing: border-box;
	border-radius: 3px;
}
#message-box{
	margin-left: 40px;
	margin-bottom: 20px;

}
#post{
	border:0;
	padding: 12px 14px;
	box-sizing: border-box;
	border-radius: 3px;
}
#phone-box{
	margin-left: 40px;
	margin-bottom: 20px;
}
#phone{
	width: 260px;
	height:35px;
	/*background-color: #e1e1db;*/
	border:0;
	padding: 12px 14px;
	box-sizing: border-box;
	border-radius: 3px;
}

#send{
	background-color:#e8554e;
	width:150px;
	font-size: 18px;
	padding: 8px 10px;
	border:none;
	margin-left: 465px;
	text-transform: uppercase;
	color: white;
	border-bottom: 5px solid #9a3834;
	letter-spacing: 3px;
	border-radius: 3px;
}

#queenstown-map{
	/*width: 30%;*/
	text-align:center;
	float: left;
	max-width: 100%;

}

#wanaka-map{
	float: right;
	/*width:30%;*/
	text-align:center;
	max-width: 100%;

}
#map-main-box{
	height: 450px;
/*	background-color: red;*/

}
#map-box{
	height: 450px;
	/*background-color: green*/
	width: 85%;
	margin: 0 auto;
}

/*Contact stylesheet ends here ...................................................................................*/


/* Gallery page style sheet starts here...........................................................................*/

#gallery-main-box{
	height: 1700px;
	/*background-color: red;*/
}
#gallery-box{
	width:70%;
	height: 900px;
	/*background-color: green;*/
	margin:50px auto;
	text-align: center;
	/*background:rgba(21,21,21,0.4);*/

}
#gallery-box ul li{
	list-style: none;
	display: inline-block;
}

/*Gallery stylesheet ends here ................................................................................................*/



/* Booking-Form Style begins here..............................................................................................*/

#form-main-box{
	height:1300px;
	margin-top: 50px;
	/*background-color: red;*/
}
#form-box{
	height: 1250px;
	margin-top: 30px;
	/*background-color: green;*/
	margin:0 auto;
	width: 70%;
	text-align: center;
	background:rgba(21,21,21,0.2);
	padding-top: 20px;
}
#form-box form{
	text-align: right;
}
#form-box form fieldset legend{
	font-size: 22px;
	text-align:center;
}
#form-box div{
	margin-bottom:20px;
}
#form-box div label{
	margin-right: 10px;
	font-size: 20px;
}
#form-box input,#booking{
	width: 300px;
	height:40px;
	border-radius:4px;
	border:none;
	line-height: 1;
	font-size: 14px;
}
#form{
	width:60%;
	margin:0 auto;
}
#flights,#planes,#origin,#destination,#flights-length,#post{
	background: white;
   width: 300px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height:40px;
  /* -webkit-appearance: none;*/
}
#post{
	width: 450px;
	height:100px;
	border-radius: 4px;
}

#no-passenger{
	font-size: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
#booking{
	letter-spacing:1px;
	color: white;
	font-size: 20px;
	padding-top: 10px;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(202, 60, 60);
    box-sizing: border-box;
    text-transform: uppercase;
}
#booking span{
	margin-right: 15px;
}

.error-space,#flights-message,#planes-message,#origin-message,#destination-message{
	display:inline-block;
	margin-left:0;
	padding-top: 5px;
	width:60%;
	text-align:left;
	font-weight: bolder;
	color:#000000;
}
